[safe]
	directory = /home/nas4/user/kjh4/utils/lightning-hydra-template
	directory = /home/nas4/user/kjh4/LLM/AIE5106_IntroNLP/AIE5106-Project
	directory = /home/nas4/user/kjh4/LLM/AIE5106-Project
	directory = /home/nas4/user/kjh4/ENH/moving/frepainter
	directory = /home/nas4/user/kjh4/ENH/voicefixer\n\n
	directory = /home/nas4/user/kjh4/ENH/voicefixer
	directory = /home/nas4/user/kjh4/ENH/voicefixer
	directory = /home/nas4/user/kjh4/ENH/SE_MOVING
	directory = /home/nas4/user/kjh4/ENH/LRSR
	directory = /home/nas4/user/kjh4/ENH/voicefixer2\n\n
	directory = /home/nas4/user/kjh4/ENH/voicefixer
	directory = /home/nas4/user/kjh4/ENH/voicefixer2
	directory = /home/nas4/user/kjh4/ENH/voicefixer_main
	directory = /home/nas4/user/kjh4/ENH/resemble-enhance
	directory = /home/nas4/user/kjh4/daily
	directory = /home/nas4/user/kjh4/CLS/AuM2
	directory = /home/nas4/user/kjh4/ENH/frepainter
	directory = /home/nas4/user/kjh4/papers/ASSD
	directory = /home/nas4/user/kjh4/papers/ASSD-paper
	directory = /home/nas4/user/kjh4
	directory = /home/nas4/user/kjh4/ENH/selfremaster
	directory = /home/nas4/user/kjh4/ENH/AudioSep
	directory = /home/nas4/user/kjh4/ENH/HybridBeam
	directory = /home/nas4/user/kjh4/ENH/SIG2024
	directory = /home/nas4/user/kjh4/ENH/Undiff
	directory = /home/nas4/user/kjh4/ENH/versatile_audio_super_resolution
	directory = /home/nas4/user/kjh4/ELSE/tensorrtllm_backend
	directory = /home/nas4/user/kjh4/ELSE/mpANC_TFLITE
	directory = /home/nas4/user/kjh4/ELSE/fastavsr
	directory = /home/nas4/user/kjh4/ELSE/RTStreamTest
	directory = /home/nas4/user/jiwon/new_Korean_ASR/kiosk_new_data/real_ground_truth/fast-LLM
	directory = /home/nas4/user/kjh4/kiosk/fast-LLM
	directory = /home/nas4/user/kjh4/ENH/finally-pytorch
[user]
	name = jaehyun-ko
	email = jhko@sogang.ac.kr
[credential]
	helper = store
