[Unit]
Description=Run Dotfiles Auto Updater every 15 minutes

[Timer]
OnBootSec=7m
OnUnitActiveSec=15m
Persistent=true

[Install]
WantedBy=timers.target
